<h1>New game</h1>

<%= @letters %>
<form action="/score" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <label for="longuest-word">What is the longuest word you can find?</label>
  </div>
  <div>
    <input type="text" name="guess" id="guess">
    <button name="submit" value="Play">Play</button>
  </div>
  <div>
    <input type="hidden" name="letters" id="letters" value="<%= @letters %>">
    <input type="hidden" name="start_time" id="start_time" value="<%= @start_time %>">
  </div>
</form>
